.env
env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
/venv
/env
ecommerce.db
chroma_db/
UI/node_modules
UI/build
node_modules/
**/node_modules/
